@{
    ViewBag.Title = "Home Page";
}

<div id="barcode">
</div>
<script>
    $("#barcode").kendoBarcode({
        value: "KUR",
        lineColor: "red",
        color: "red",
        backColor: "yellow"
    });
  
</script>