@{
    ViewBag.Title = "Grid";
}

<h2>Grid</h2>
@(Html.Kendo().Grid<Kendo.Models.Product>()
    .Name("Grid")    
    .Columns(columns => {        
        columns.Bound(p => p.ProductID);
        columns.Bound(p => p.ProductName);
        columns.Bound(p => p.UnitPrice);
        columns.ForeignKey(p => p.CategoryID, 
            (System.Collections.IEnumerable)ViewData["categories"], "CategoryID","CategoryName");
        columns.Bound(p => p.Category).ClientTemplate("#=data.Category ? Category.CategoryName : '' #");
        columns.Command(comm => comm.Edit());     
    })    
    .ToolBar(toolBar => toolBar.Create())
    .Editable(editable => editable.Mode(GridEditMode.InLine))
    .Pageable()
    .Sortable()
    .Scrollable()
    .DataSource(dataSource => dataSource        
        .Ajax()                 
        .ServerOperation(true)        
        .Model(model => { 
            model.Id(p => p.ProductID);
            model.Field(p => p.ProductID).Editable(false);
            model.Field(p => p.ProductName).DefaultValue("");
        })      
        .Read(read => read.Action("Read", "Home"))
        .Update(update => update.Action("Update", "Home"))    
        .Create(create=> create.Action("Create", "Home"))   
    )
)